.item {
  list-style-type: none;
  color: #a8a8a8;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
}

.done {
  color: #c4c4c4;
  text-decoration: line-through;
}

.btn {
  cursor: pointer;
  position: absolute;
  right: 10%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

@media (max-width: 768px) {
  .item {
    font-size: 18px;
  }

  .btn {
    right: 5%;
  }
}
