/* * {
  font-weight: 100;
  color: #a8a8a8;
} */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  height: 70px;
}

.filtersWrap {
  display: flex;
  justify-content: space-between;
}
.item{
  background: transparent;
  border: none;
  padding: 8px;
  font-size: 18px;
  color: #a8a8a8;
}
.itemActive {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-size: 18px;
}

.clear {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #a8a8a8;
}
